/*-----------------------------------
      importing imporntent links
 ----------------------------------*/
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');
 
 /*------------------------------
            base style
  ------------------------------- */
body{
    font-family: 'Poppins', sans-serif;
}

.container{
    margin-top: 80px;
}
.pri-btn{
    width: 196px;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    background: #E02C6D;
    color: white;
    border: none;
    border-radius: 41px;
}
.sec-btn{
    width: 155px;
    height: 44px;
    background: #E02C6D;
    border: none;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 26px;
}

  /*%%%%%%%%%%%%%%%%%%%%%%%%%
         nav styling 
  %%%%%%%%%%%%%%%%%%%%%%%%%%% */
  .navigation{
    display: flex;
    justify-content: space-between;
    margin: 0 120px ;
  }
  .nav-title{
    font-weight: 700;
    font-size: 24px;
    color: #3A3A3A;
    margin-top: 37px;
  }
  .navbar{
    margin-top: 46px;
    display: flex;
    gap: 34px;

  }
  .navbar a{
    text-decoration: none;
    color: #3A3A3A;
  }
  .navbar a:hover{
    color: chocolate;
  }
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        main styling
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 120px;

}
.banner-info{
    width: 582px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.banner-title{
    margin: 0;
    font-weight: 700;
    font-size: 52px;
    color: #3A3A3A;
}
.banner-p{
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
}
.banner-img{
    background: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
}
.banner-img img{
    width: 440px;
    height: 414px;
    padding: 30px;
    
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
         brand styling
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.brands{
    margin: 0 120px;
    display: flex;
    justify-content: space-evenly;
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
        collection styling
 %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
 .container-col{
    margin-top: 80px;
    margin-bottom: 165px;
 }
.collection-container{
    margin: 0 209px;
}
.collection-title{
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;
    margin-bottom: 30px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.collection{
    display: flex;
    flex-direction: column;
    width: 329px;
    height: 476px;
    padding: 17px 14px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;    

}
.product-title{
    font-weight: 500;
    font-size: 28px;
    color: #18191F;
    margin-bottom: 6px;
}
.product-price{
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 0;
}
.product-detail{
    margin-top: 8px;
    font-weight: 700;
    font-size: 14px;
    color: #787885;
}
.see-more{
    text-align: end;
    margin: 50px 209px 0px;
}
.see-more a{
    text-decoration: none;
    color: #E02C6D;
}
.rating{
    display: flex;
    gap: 8px;
}
.fa-star.fill{
    width: 11.07px;
    height: 10.32px;
    color: #FB8200;
}
.fa-star.empty{
    width: 11.07px;
    height: 10.32px;
    color: gray;
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%
         gear styling
 %%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.gear{
    margin: 0 120px ;
}
.gear-container{
    display: flex;
    justify-content: space-between;
}
.gear-img{
    width: 404px;
    height: 270px;
}
.gear-info{
    width: 610px;
}
.gear-title{
    font-weight: 700;
    font-size: 38px;
    color: #0A0826;
}
.gear-p{
    font-weight: 700;
    font-size: 16px;
    color: #6C6C6C;
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% 
        footer design
 %%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
 footer{
    margin-top: 100px;
    background-color: #0A0826;
    height: 239px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    
 }
 .footer{
    width: 262px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
 }
 .fot-title{
    font-weight: 700;
    font-size: 24px;
 }
 .fot-p{
    font-weight: 700;
    font-size: 14px;
    
 }
 .icons{
    display: flex;
    justify-content: space-evenly;
 }


 /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
            responsive style
   %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
   @media only screen and (max-width:767px) {
    
   }